{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Feedback Letter Counting Task Round 1.{{ subsession.round_number }}
{% endblock %}

{% block content %}


<div class="card">
  <div class="card-header text-white bg-primary mb-3">Your earnings in this round
      {% if subsession.round_number == 1 %}
      (Wage: 1 Token per Sequence)
      {% else %}
      (Wage: 2 Token per Sequence)
      {% endif %}
      :</div>
  <div class="card-body">
    You solved {{ player.production_strings|floatformat:0 }} sequences which earns you <strong>{{ player.income_strings|c|floatformat:0 }}</strong> Tokens.<br>
    You spent {{player.time_in_switch}} seconds in the <em>switch mode</em> which earns you <strong>{{player.income_in_switch|c|floatformat:1}}</strong> Tokens.<br><br>
    Your total earnings in this round are therefore <strong>{{player.income|c|floatformat:1}}</strong> Tokens. <br>
  </div>
</div>

    <br>
        {% if subsession.round_number == 2 %}
    <div class="card">
  <div class="card-header text-white bg-info mb-3">Your earnings in the previous round (Wage: 1 Token per Sequence):</div>
  <div class="card-body">
    You solved {{ production_strings_last|floatformat:0 }} sequences which earns you <strong>{{ income_strings_last|c|floatformat:0 }}</strong> Tokens.<br>
    You spent {{time_in_switch_last}} seconds in the <em>switch mode</em>
      which earns you <strong>{{income_in_switch_last|c|floatformat:1}}</strong> Tokens.<br><br>
    Your total earnings in this round are therefore <strong>{{income_last|c|floatformat:1}}</strong> Tokens. <br>
  </div>
</div>

    {% endif %}
<br>
{% next_button %}

{% endblock %}
