{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load humanize %}

{% block styles %}
    <link href="{% static "tullock_income_intro/css/bootstrap_tour.min.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
    High Wage Earnings
{% endblock %}

{% block content %}
<hr>
<div class="card bg-light instructions">
    <div class="card-body">
    <p>
      The following task is similar to the last one, only that <strong> you will earn {{ Constants.tokensper_string_high|apnumber }}
        Tokens</strong> (instead of {{ Constants.tokensper_string|apnumber }}) per correctly solved sequence.
    </p>
    <p> <U>Remember:</U> At any time, you have the option to change to the <strong><em>switch mode</em></strong>. In this mode, you will earn <strong>1 Token
        per {{ Constants.secondsper_token|apnumber }} seconds</strong> without solving any tasks. For instance, spending 13 seconds in the
        <strong><em>switch mode</em></strong> earns you 1.3 Tk. Given the higher wage in this round, it is advisable to go later
        into "switch" mode.
        <div class="alert alert-warning" role="alert">
        <U>Important:</U> Once you are in the <strong><em>switch mode</em></strong> you cannot go back to the letter counting task!
        </div></p>
    <p>
        Are you ready to proceed?
    </p>
    </div>
</div>

    {% next_button %}

    {% endblock %}


