{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
<hr>
<div class="card bg-light instructions">
    <div class="card-body">
     <p>
        Thank you for taking part in this experiment.</p>
    <p>
        Please read the instructions carefully. They are identical for all participants.<br>
        You are not allowed to communicate with other participants during the experiment.
        Using the cell phone is also prohibited. Please switch it off.
    </p>
    <p>
        In case anything is unclear, please raise your hand. We will come to your desk and answer your questions in private.<br>
    </p>
    <p>
        You will earn money during this experiment and you will receive your earnings in cash immediately after
        this session is finished. How much money you earn depends on the actions you and the other participants take.</p>
    <p>
        To make you familiar with the task you are going to be asked to perform, the next pages will show you the instructions
        and a trial round. At every stage, make sure you only proceed when you have understood the instructions.
        You will not be able to go back.</p>
    </div>
</div>

    <br>
    Are you ready to proceed?
    <br>
    <br>
    {% next_button %}
{% endblock %}
