{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
    <link href="{% static "tullock_income_intro/css/Round.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Trial Round
{% endblock %}

{% block content %}

<div class="done_text" id="done_text">
</div>

<div class="jumbotron">

<span class="badge badge-primary">
<span id="min">00</span>:<span id="sec">00</span>
</span>

<div id="string">
</div>

<br>

<input type="number" id="player_guess" size="4" autofocus>
</input> &nbsp;


<br>

<input type="hidden" name="output_trial" id="id_output_trial"/>




</div>
<div class="next_container">
    <input class="d-none btn btn-primary btn-large btn-primary" id="next-button" type="submit" value="Continue">
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'tullock_income_intro/js/Round0.js' %}"></script>
{% endblock %}
